<% content_for :header_title do %><%= params[:log_type].capitalize %> Training Logs<% end %>

<nav class="nav nav-inline">
  <% %w(untrained claimed trained untrainable).each do |log_type| %>
    <%= link_to log_type, training_logs_path(log_type: log_type), class: 'nav-link' + (log_type == params[:log_type] ? ' active' : '') %>
  <% end %>
</nav>

<hr />

<% @training_logs.in_groups_of(3).each do |group| %>
  <div class="row">
    <%= render group.reject(&:nil?) %>
  </div>
<% end %>

<%= will_paginate @training_logs, renderer: Pagination::Bootstrap4Renderer, link_path: training_logs_path(log_type: params[:log_type]) %>