<div id="wrapper" class="clearfix">
  <%= render 'layouts/components/sidebar' %>
  <div id="page-content-wrapper" class="clearfix">
    <%= render 'layouts/components/navbar' %>
    <div id="content" class="clearfix">
      <%= render 'layouts/components/toasts' %>
      <%= yield %>
    </div>
  </div>
</div>
